@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

--first-color: rgb(255, 224, 184);
--second-color :rgb(255, 224, 184);

--img-size-y: calc(1.6vh*1.6);
--img-size-x: calc(1.6vw*1.6);
--img-size : calc(1.6vw*6);
scrollbar-width: 12px;


}

html {
    
    scroll-behavior: smooth; 

}
body {
    
    font-family:Arial, Helvetica, sans-serif;  
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-top: 45px;

}

hr{

    margin-bottom: 6vh;
    border-color: #DFDBDB;
    border-radius: 16px;
    border-style: solid;

}

/* Dropzone css */

.dropzone {
  display: inline-block;
  width: 600px;
  padding: 15px;
  background-color: #2169ec21;
  border: 3px #2169ec dashed;
  border-radius: 5px;
}

.dz-default.dz-message {
  text-align: center;
  margin-bottom: 15px;
}

.dropzone .dz-preview {
  display: block;
  padding: 0;
  margin: 0 0 15px 0 !important;
  width: 100% !important;
  height: 100px;
}

.dz-image {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.dz-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropzone .dz-preview .dz-progress {
  position: absolute;
  bottom: 0;
  left: 110px;
  width: calc( 100% - 110px );
}

.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark {
  position: absolute;
  top: 5px !important;
  left: auto !important;
  right: 5px !important;
}

/* scrollbar css */

/* width */
::-webkit-scrollbar {
    width: 12px;
    scrollbar-color : var(--first-color) rgba(255, 255, 255, 0);
    border-radius: 26px !important;

  }
  
  /* Track 
  ::-webkit-scrollbar-track {
    background: transparent;
  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: rgb(255, 224, 184);
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 185, 95);
  }

ul, ol {
    list-style: none;
    margin-left: 20px;  /* Ajoute un espace à gauche de la liste */
    padding-left: 20px; /* Ajoute un padding interne */
}

a {
    
    text-decoration: none !important;
    color: #2f2f2f;

    p {

        color: #2196F3;

    }
}

* {

    vertical-align: 0%;
    padding: 0%;
    margin: 0%;
    /* outline: 1px solid red; */

}

.DEBUG{

    border-style: solid;
    border-color: brown;

}

.DEBUG2{

    border-style: solid;
    border-color: rgb(42, 161, 165);

}

/* css pour creer un slider  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* DEBUT CSS SITE */

.icon{

    border-radius: 27%;

}

/* nav bar css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --header-height: 3rem;
    
    --font-semi: 600;
    --font-bold: 700;

    --first-color: #E55947;
    --first-color-alt: #D2321E;
    --white-color: #FAFAFF;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #F0F1F3;

    --body-font: 'Open Sans', sans-serif;

    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;

    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 900px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb3);
    margin-right: var(--mb3);
}

.remfocus{

    margin-top: -1rem;

}

/*NAV*/

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    /* background-color: var(--gray-color); */
}

.nav { height: var(--header-height); display: flex; justify-content: space-between; align-items: center; }
.nav-item { margin-bottom: var(--mb4); }
.nav-link { color: var(--dark-color); font-weight: var(--font-semi); }
    .nav-link:hover { color: var(--first-color); }
.nav-logo { font-weight: var(--font-bold); }
.nav-cart { font-size: 1.5rem; margin-right: var(--mb2); cursor: pointer; }
.nav-toggle { font-size: 1.5rem; cursor: pointer; }
.active { color: var(--first-color); }

@media screen and (max-width: 900px) {

    .remfocus{

        margin: 0rem;

    }

    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }

    .show {right: 0; }
}

/*HOME*/

.home { background-color: var(--gray-color); }
.home-container { height: calc(100vh - var(--header-height)); }
.home-data { padding-top: 6rem; }

.home-title {
    align-self: center;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
}

    .home-title span { font-size: var(--h1-font-size); }
.home-img { position: absolute; right: 0; bottom: 0; width: 260px; }

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
}




/*MEDIA QUERIES*/

@media screen and (min-width: 900px) {
    body { margin: 0; }
    .section-all { margin-bottom: var(--mb4); }

    .nav { height: calc(--header-height) + 1rem; justify-content: initial; }
    .nav-menu { margin-left: auto; }
    .nav-list { display: flex; }
    .nav-item { margin-left: var(--mb4); margin-bottom: 0; }
    .nav-toggle { display: none; }

    .home-container { height: 100vh; }
    .home-data { padding: 0; height: max-content; align-self: center; } 
    .home-title { line-height: 0.8; letter-spacing: 1.5rem; }
    .home-img { width: 370px; }

    .collection-container { grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; }
    /* .collection-box { padding: 0.5rem 3rem 0; } */
    .collection-img { width: 130px; }

    .featured-container, .sponsors-container, .footer-container { grid-template-columns: repeat(4, 1fr); }
        .footer-container { padding: 2rem 0; }

    .offer-data { padding: 5rem 0; }

    .new-container { grid-template-columns: repeat(3, 1fr); }

    .newsletter-form { width: 440px; margin: 0 auto; }
}

@media screen and (min-width: 1024px) {
    .bd-grid { margin-right: auto; margin-left: auto; }
    .home-data { padding-left: 7rem; }
    .home-img { right: 15%; }

    .collection-box { padding: 0.5rem 3rem 0; }
    .footer-copy { font-size: var(--normal-font-size); }
}


/* copcode */

section { padding: 40px 6%; }


header {

    position: fixed;
    width: 100vw;
    top: 0;
    /* right: 0; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(255, 224, 184);
    padding: 8px 4%;
    box-sizing: border-box;

}

.logo { 

    font-size: 1.2rem; 
    font-weight: 600; 
    color: white;
    
}

.navbar { 
    display: flex; 
}

.navbar a {

    font-size: 1rem;
    padding: 10px 20px;
    color: #2f2f2f;
    font-weight: 500;
    transition: .5s ease;
}

.navbar a:hover {

    background: rgb(255, 185, 95); color: #fff; border-radius: 2rem; 

}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/*
@media (max-width: 991px) {
    header { padding: 10px 4%; }
    section { padding: 50px 4%; }

    :root {
        --big-font: 2.7rem;
        --h2-font: 1.7rem;
    }
}@media (max-width: 991px) {
    header { padding: 10px 4%; }
    section { padding: 50px 4%; }

    :root {
        --big-font: 2.7rem;
        --h2-font: 1.7rem;
    }
}@media (max-width: 991px) {
    header { padding: 10px 4%; }
    section { padding: 50px 4%; }

    :root {
        --big-font: 2.7rem;
        --h2-font: 1.7rem;
    }
}@media (max-width: 991px) {
    header { padding: 10px 4%; }
    section { padding: 50px 4%; }

    :root {
        --big-font: 2.7rem;
        --h2-font: 1.7rem;
    }
}*/



/* css for start banner*/

.top-banner {

    /* width: 100vw; */
    height: 100vh;
    background: url("../img/bannerimg.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    p{

        font-size: 25px;
        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/
        color :rgb(255, 192, 110);

    }

    h1{

        font-size: 150px;
        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/
        color: rgb(255, 224, 184);

    }

}

.scrolldown {

    position: absolute;
    bottom: -3vh;
	width: 60px;
	height: 60px;
	border: 6px solid rgb(255, 224, 184);
	border-radius: 50%;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;

	&::before {

		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 6px solid rgb(255, 224, 184);
  	    border-bottom: 6px solid rgb(255, 224, 184);
		transform: rotate(-45deg);

	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

/* css for start banner END */

/* START CSS section mid */

.containerSection1{

    /* width: 100vw; */
    display: grid;
    grid-template-columns: repeat(14, minmax(1.6vh,auto));
    grid-template-rows: repeat(14, minmax(1.6vw,auto));

}

/* button css */

.btn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .btn:hover {
    background-color:var(--second-color);
    box-shadow: 0px 15px 20px rgba(202, 125, 24, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.divexplain {

    grid-column: 1/8;
    grid-row: 3/13;
    /* white-space:; */

    p{

        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/
        color: rgb(0, 0, 0);
        text-align: justify;

    }

}

.divprice{

    grid-column: 12/14;
    grid-row: 2/15;
    gap: 1.6vh;
    display: grid;
    flex-direction: column;
    place-items : center;

    button{

        justify-self: center;
        /* grid-column: 9/14;
        grid-row: 2/14; */

    }

    button,h4{

        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/
        color: rgb(34, 34, 34);

    }

    button,p{

        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/
        color: rgb(0, 0, 0);
        margin-bottom: 1.6vh;

    }

    button,h2{

        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/
        color: rgb(255, 185, 95);

    }

}

.premium-text{

    font-size: 8px;

    a{

        font-size: 8px;
        color: #2196F3;

    }

}

/* css pour le presentation row */

.presentation-row{

    display: grid;
    grid-template-columns: repeat(4, minmax(1.6vh,auto));
    grid-template-rows: repeat(1, minmax(1.6vw,auto));
    gap: 1.6vw;
    justify-self:center;
    justify-content: center;

    div{ 

        text-align: center;
        place-items: center; 
        flex-direction: column;
        display: flex;
        justify-self:center;

        svg{

            margin-bottom: 1.6rem;

        }

        h6{

            font-weight: 800;
            font-family:Helvetica,sans-serif ;
            font-size: 11px;
            margin-bottom: 1rem

        }

        p{

            display: flex;
            justify-self:center;
            justify-content: center;

        }

    }


}

.contsec2{

    /* juste pour le select dans mon css */
    /* display: inlbine; */

    h5{

        font-weight: 700;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        font-size: 1.25rem;

    }

}

.contsec3{

    vertical-align: 0%;
    justify-content: center;
    display: flex;
    gap: 1.6vw;

}

.contsec3-left{

    width: 33%;
    display: inline-block;

    h2{
        
        margin-bottom: 1.6vh;
    
    }

}

.contsec3-right{

    width: 63%;
    display: inline-block;
    text-align: center;
    margin: 1.6vw;
    margin-top: calc(1.6vh*4);

    p {

        font-size: 12px;
        display: inline-block;

    }

}

.client-presentation{

    background-color:var(--second-color);
    border-radius: 26px;
    display: flex;
    gap: 1.6vw;
    margin-right: 1.6vw;
    padding:1.6vw;
    text-align: center;
    place-items: center;

    img{

        display: block;
        border-radius: 50%;
        height:  var(--img-size);
        width:  var(--img-size);

    }
}

.contsec4{

    display: flex;
    /* overflow: scroll; */
    /* width: 100%; */
    white-space: nowrap; /* Empêche le retour à la ligne */
    overflow-x: auto; /* Active le scroll horizontal */
    overflow-y: hidden; /* Empêche le scroll vertical */

    /*.client-presentation{

        /* width: calc(1.6vw*36); 
        /* display: inline;

    }*/

    p{

        text-align:justify;
        margin-right: 1.6vw;
        font-size: 14px;

    }

}

.client-presentation-h3{

    margin-bottom: 1.6vh; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;

}

.contgrid{

    display: grid;
    grid-template-columns: repeat(8, minmax(1.6vh,auto));
    grid-template-rows: repeat(8, minmax(1.6vw,auto));
    gap: 1.6vw;
    place-items: center;

}

.contsec5{

    img{

        height:  calc(var(--img-size-y)*12);
        width:  calc(var(--img-size-x)*12);

    }

}

/* CSS pour le footer  */

footer{

    display: grid;
    margin-top: 1.6vh;
    grid-auto-columns :1fr;
    grid-auto-flow: column;
    background-color: black;

    section,h3{

        color: antiquewhite;
        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/

    }

    section,p{

        color: antiquewhite;
        font-family:Arial, Helvetica, sans-serif

    }

}

/* media query  */

/*

@media (min-width: 1200px) {
    .contsec1 {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .contsec1 {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .contsec1 {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .contsec1 {
        max-width: 540px;
    }
}*/

@media (max-width: 900px) {



    .contsec3{

        display: grid;

        .contsec3-left{

            width: 100%;

        }

        .contsec3-right{

            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 1.6vw;
            margin-top: calc(1.6vh* 4);

        }

    }

    .contsec1 {
        max-width: 611px;
    }

    .dropzone{

        width: 125px;

    }

    .btn{

        width: 19vw;

    }

    .navbar { 
        display: grid; 
    }

    .footer-section{

        display: flex;
        flex-direction: column;

        h3{

            font-size: 12px;

        }

    }

    /* comment for update */

    .presentation-row-div1{

        grid-row: 1/1;
        grid-column: 1/5;

    }

    .presentation-row-div2{

        grid-row: 2/2;
        grid-column: 1/5;

    }

    .presentation-row-div3{

        grid-row: 3/3;
        grid-column: 1/5;

    }

    .presentation-row-div4{

        grid-row: 4/4;
        grid-column: 1/5;

    }

    .contgrid{

        display: inline-block;
        gap: 16vh;

        div{

            margin: 1.6vh;

        }


    }

    .top-banner{

        background-size: cover;
        height: 100vh;

        h1{

            font-size: 75px;
            font-weight: 200;

        }

    }

}

@media (max-width: 400px) {

    .footer-section{

        display: flex;
        flex-direction: column;

        svg{

            width: 16px;
            height: 16px;

        }

        h3{

            font-size: 12px;

        }

    }

}