:root {

    --first-color: rgb(255, 224, 184);
    --second-color :rgb(255, 224, 184);
    
    --img-size-y: calc(1.6vh*1.6);
    --img-size-x: calc(1.6vw*1.6);
    --img-size : calc(1.6vw*6);
    scrollbar-width: 12px;

}

* {

    vertical-align: 0%;
    padding: 0%;
    margin: 0%;
    /* outline: 1px solid red; */

}

html {
    
    scroll-behavior: smooth; 

}
body {
    
    margin-top: 45px;
    font-family:Arial, Helvetica, sans-serif;  
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

hr{

    margin-bottom: 6vh;
    /* border-color: #DFDBDB; */
    border-radius: 16px;
    border-style: solid;

}

/* header css */

.logo { 

    font-size: 1.2rem; 
    font-weight: 600; 
    color: white;
    
}

.navbar { 
    display: flex; 
}

.navbar a {

    font-size: 1rem;
    padding: 10px 20px;
    color: #2f2f2f;
    font-weight: 500;
    transition: .5s ease;

}

a {
    text-decoration: none;
    color: #2f2f2f;
}

header {

    position: fixed;
    width: 100vw;
    top: 0;
    /* right: 0; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(255, 224, 184);
    padding: 8px 4%;
    box-sizing: border-box;

}

section { padding: 40px 6%; }

ul, ol {
    list-style: none;
    margin-left: 20px;  /* Ajoute un espace à gauche de la liste */
    padding-left: 20px; /* Ajoute un padding interne */
}

/* fin css header */

.service-select{

    /* margin-top: auto; */
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 1.6vh;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 20px;
    margin: auto;

}

.service{

    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    place-items: center;

    div{

    margin-top: 25%;
    place-items: center;

    }

}

/* css pour le footer */

footer{

    display: grid;
    margin-top: 1.6vh;
    grid-auto-columns :1fr;
    grid-auto-flow: column;
    background-color: black;

    section,h3{

        color: antiquewhite;
        font-family:"Roboto", sans-serif; /* Arial, Helvetica, sans-serif;*/

    }

    section,p{

        color: antiquewhite;
        font-family:Arial, Helvetica, sans-serif

    }

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --header-height: 3rem;
    
    --font-semi: 600;
    --font-bold: 700;

    --first-color: #E55947;
    --first-color-alt: #D2321E;
    --white-color: #FAFAFF;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #F0F1F3;

    --body-font: 'Open Sans', sans-serif;

    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;

    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 900px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb3);
    margin-right: var(--mb3);
}

.remfocus{

    margin-top: -1rem;

}

/*NAV*/

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    /* background-color: var(--gray-color); */
}

.nav { height: var(--header-height); display: flex; justify-content: space-between; align-items: center; }
.nav-item { margin-bottom: var(--mb4); }
.nav-link { color: var(--dark-color); font-weight: var(--font-semi); }
    .nav-link:hover { color: var(--first-color); }
.nav-logo { font-weight: var(--font-bold); }
.nav-cart { font-size: 1.5rem; margin-right: var(--mb2); cursor: pointer; }
.nav-toggle { font-size: 1.5rem; cursor: pointer; }
.active { color: var(--first-color); }

@media screen and (max-width: 900px) {

    .remfocus{

        margin: 0rem;

    }

    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }

    .show {right: 0; }
}

/*HOME*/

.home { background-color: var(--gray-color); }
.home-container { height: calc(100vh - var(--header-height)); }
.home-data { padding-top: 6rem; }

.home-title {
    align-self: center;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
}

    .home-title span { font-size: var(--h1-font-size); }
.home-img { position: absolute; right: 0; bottom: 0; width: 260px; }

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
}




/*MEDIA QUERIES*/

@media screen and (min-width: 900px) {
    body { margin: 0; }
    .section-all { margin-bottom: var(--mb4); }

    .nav { height: calc(--header-height) + 1rem; justify-content: initial; }
    .nav-menu { margin-left: auto; }
    .nav-list { display: flex; }
    .nav-item { margin-left: var(--mb4); margin-bottom: 0; }
    .nav-toggle { display: none; }

    .home-container { height: 100vh; }
    .home-data { padding: 0; height: max-content; align-self: center; } 
    .home-title { line-height: 0.8; letter-spacing: 1.5rem; }
    .home-img { width: 370px; }

    .collection-container { grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; }
    /* .collection-box { padding: 0.5rem 3rem 0; } */
    .collection-img { width: 130px; }

    .featured-container, .sponsors-container, .footer-container { grid-template-columns: repeat(4, 1fr); }
        .footer-container { padding: 2rem 0; }

    .offer-data { padding: 5rem 0; }

    .new-container { grid-template-columns: repeat(3, 1fr); }

    .newsletter-form { width: 440px; margin: 0 auto; }
}

@media screen and (min-width: 1024px) {
    .bd-grid { margin-right: auto; margin-left: auto; }
    .home-data { padding-left: 7rem; }
    .home-img { right: 15%; }

    .collection-box { padding: 0.5rem 3rem 0; }
    .footer-copy { font-size: var(--normal-font-size); }
}


/* copcode */

/* media query */

@media (max-width: 400px) {

    .footer-section{

        display: flex;
        flex-direction: column;

        svg{

            width: 16px;
            height: 16px;

        }

        h3{

            font-size: 12px;

        }

    }

}

@media (max-width: 900px) {

    .service-select{

        width: 15vw;

    }

    body{

        margin-top: 120px;

    }

    .navbar { 
        display: grid; 
    }

    .footer-section{

        display: flex;
        flex-direction: column;

        h3{

            font-size: 12px;

        }

    }

    /* comment for update */

}